<!DOCTYPE html>
<html>

<head>
  <title>Detalle Post</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1>Detalle get</h1>
    <div class="form-group">
      <label for="titulo">Titulo:</label>
      <input type="text" class="form-control" name="titulo" value="<%= posts.titulo %>">
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion:</label>
      <textarea class="form-control" name="descripcion" rows="3" required><%= posts.descripcion %></textarea>
    </div>
    <div class="form-group">
      <label for="categoria">Categoria:</label>
      <input type="text" class="form-control" name="categoria" required value="<%= posts.categoria %>">
    </div>
    <div class="form-group">
      <label for="fecha">Fecha:</label>
      <input type="text" class="form-control" name="fecha" required value="<%= posts.fecha %>">
    </div>
    <div class="form-group">
      <label for="comentarios">Comentarios:</label>
      <a href="/post/id/comentarios/detalle" name="comentarios" class="form-control">
        <%= posts.comentarios.length %>
      </a>
    </div>
    <form action="/post/update/<%= posts._id %>" method="GET">
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
    <form action="/post/listar" method="GET">
      <button class="btn btn-danger" type="submit">Cancelar</button>
    </form>
  </div>
</body>

</html>